<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLE Sniffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C0A8D741E141255000E40B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0A8D8D1E141256000E40B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0A8D981E141256000E40B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
